{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<body id="profile">
<header>
	<div class="logo">
		<a href="{% url 'blog:index' %}"><img src="{% static 'blog/images/logo.png' %}" alt="TIM"></a>
	</div>
	<nav>
		<ul class="global-nav">
			<li><a href="{% url 'blog:portfolio' %}">Portforlio</a></li>
			<li><a href="{% url 'blog:profile' %}">Profile</a></li>
			<li><a href="{% url 'blog:contact' %}">Contact</a></li>
			<li><a href="{% url 'blog:blog' %}">Blog</a></li>
		</ul>
	</nav>
</header>
	<div id="wrap">
		<div class="content">
			<div class="main-center">
				<section class="profile clearfix">
					<div class="profile-txt">
						<h1 class="icon">Profile</h1>
						<h3><p><span>TANAKA MUNESATO</span><br></h3>
						<b>・Addres</b><br>
						Rep. of Korea, Chungcheongnam-do, Asan-si<br>

						<b>・Birthplace</b><br>
						Japan, Chiba, Yachiyo-si<br>

						<b>・hobby</b><br>
						Baseball, bass fishing, journey <br>

						<b>・age</b><br>
						23 years old<br>

						<b>・Occupation</b><br>
						University Student in Rep of Korea</p>
					</div>
					<img src="{% static 'blog/images/profile.png' %}" alt="田中宗賢profile" class="profile-image">
				</section>
				<section class="profile clearfix">
					<div class="profile-txt">
						<h1 class="icon">Introduce</h1>
						<p>hogehoge</p>
					</div>
				</section>

				<section class="career">
					<h2 class="icon">Career and Job history</h2>
					<table>
						<tr>
							<th>2011/03</th>
							<td>千葉県八千代市立勝田台中学校　卒業</td>
						</tr>
						<tr>
							<th>2011/04</th>
							<td>千葉県立八千代東高等学校　入学</td>
						</tr>
						<tr>
							<th>2014/03</th>
							<td>千葉県立八千代東高等学校　卒業</td>
						</tr>
						<tr>
							<th>2014/04</th>
							<td>株式会社ナンバーワン　入社　（外回り営業）</td>
						</tr>
						<tr>
							<th>2015/08</th>
							<td>留学を考え　退職</td>
						</tr>
						<tr>
							<th>2015/09</th>
							<td>フィリピン パインスクラーク イングリッシュアカデミー　語学留学</td>
						</tr>
						<tr>
							<th>2015/12</th>
							<td>フィリピン パインスクラーク イングリッシュアカデミー　修了</td>
						</tr>
						<tr>
							<th>2016/02</th>
							<td>韓国　鮮文大学　韓国語教育院　入学</td>
						</tr>
						<tr>
							<th>2017/02</th>
							<td>韓国　鮮文大学　韓国語教育院　卒業</td>
						</tr>
						<tr>
							<th>2017/03</th>
							<td>韓国　鮮文大学　グローバルソフトウェア学科　入学</td>
						</tr>
						<tr>
							<th>2021/02</th>
							<td>韓国　鮮文大学　グローバルソフトウェア学科　卒業見込み</td>
						</tr>
					</table>
				</section>

				<section class="career">
					<h2 class="icon">Language Skills</h2>
					<table>
						<tr>
							<th>日本語</th>
							<td>ネイティブレベル</td>
						</tr>
						<tr>
							<th>英語</th>
							<td>会話レベル</td>
						</tr>
						<tr>
							<th>その他言語</th>
							<td>韓国語（ビジネスレベル）</td>
						</tr>
					</table>
				</section>

				<section class="career">
					<h2 class="icon">Qualification</h2>
					<table>
						<tr>
							<th>2018/12/20</th>
							<td>韓国語能力試験(TOPIK) 6級</td>
						</tr>
					</table>
				</section>

				<section class="profile clearfix">
					<div class="profile-txt">
						<h1 class="icon">My Studies</h1>
						<p>Create a web framework used by Django and GWT tools.</p>
						<p>The online study course in Data Science. (Numpy, Pandas, Series, etc.)</p>
					</div>
				</section>
				<section class="profile clearfix">
					<div class="profile-txt">
						<h1 class="icon">Skills</h1>
						<img src="{% static 'blog/images/skills.jpg' %}" alt="Skills" class="skills-images">
					</div>
				</section>
				<b><a href="https://github.com/tim0114gap" target="_blank" class="profile-git">Go to github</a></b>
			</div>
		</div>
	</div>
	<footer>
		<small>(C)2019 Tanaka=studio.</small>
	</footer>
</body>
{% endblock %}
